@charset "utf-8";
body{
	margin-top:30px;
	margin-bottom:30px;
	margin-right:10%;
	margin-left:10%;
}
a{
	color:black;
	text-decoration:none;
}
a:link{}
a:visited{
	color:purple; 
}
a:hover{
	text-decoration:underline;
}
a:active{
	color:yellow;
}

h2.title{
	font-size:medium; 
}

p{
	margin-left: 0px;
	margin-right: 0px;
}

td{
	padding:10px;
}

ol.reference{
	font-size:small;
}

.emphasis{
	font-weight:bold;
}

.writeDown{
	font-style:italic;
	margin-left: 2em;
	margin-right: 2em;
}

.deleted{
	text-decoration:line-through;
}

.sub{
	font-size:80%;
}

strong.circle {
	font-weight: normal;
	text-emphasis-style: sesame;
	-webkit-text-emphasis-style: sesame;
	-epubt-text-emphasis-style: sesame;
}

span.tcy {
	text-combine: horizontal;
	-webkit-text-combine: horizontal;
	-epub-text-combine: horizontal;
}

hr{
	margin-left: 2em;
	margin-right: 2em;
}
